* {
    margin: 0;
    padding: 0;
}

#header-section {
    width: 100%;
    background-color: white;
    /* border: 1px solid red; */
}
#header-section hr {
    margin-bottom: 5px;
}

header {
    border: 1px solid whitesmoke;
    padding: 10px 0;
    border-radius: 5px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

#nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 45px;
}
#nav-ul li button {
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    border-radius: 7px;
}
/* hero-section */
#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px; 
}
#hero-section h1 {   
    margin: 30px;
    color: red;
    font-size: 70px;
    width: 70%;
    text-align: center;
    margin-bottom: 15px;
}

#hero-section div {
    border: 2px solid whitesmoke;
    padding: 5px;
    border-radius: 15px;
    background-color: whitesmoke;
}
/* blogs section */
#blogs-section {
    background-color: rgb(245, 241, 241);
    padding: 25px 0;
}
.view-all {
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.blogs-container {
    width: 65%;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-direction: column;
}
.blog {
    padding: 20px;
    width: 94%;
    /* height: 300px; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.blog-text {
    width: 70%;
}
.blog-text h2 {
    margin-top: 12px;
}
.blog-text p {
    margin-top: 15px;
    color: grey;
}
.blog-image {
    width: 28%;
}
.blog-text span {
    color: grey;
    font-size: 13px;
}

/* footer */
.footer h2 {
    padding-top: 3px;
    color: red;
    font-size: 30px;
    text-align: center;
}
.footer p {
    padding-top: 9px;
    text-align: center;
}
.footer, .button-footer {
    padding-top: 28px;
    justify-items: center;
}
.button-footer {
    height: 58px;
}
.hr-div {
    font-size: 12px;
    text-align: center;
    padding-top: 14px;
    height: 5px;
}







